# Created by https://www.gitignore.io/api/intellij

### Intellij ###
/.idea

## File-based project format:
*.iws
*.iml

# IntelliJ
/out/
# mpeltonen/sbt-idea plugin
.idea_modules/
# JIRA plugin
atlassian-ide-plugin.xml

#NodeJS
/node_modules
/build

